# This is a basic workflow to help you get started with Actions

name: Package Resource Pack

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Zip Resource Pack
      run: zip -r swordcraftonline_resource_pack.zip .
    
    - name: Calculate SHA1 hash
      id: hashpack
      run: sha1sum swordcraftonline_resource_pack.zip > hash.sha1
    
    - name: Push to CDN
      run: |
        eval "$(ssh-agent -s)"
        ssh-add - <<< "${{ secrets.CDN_INGRESS_KEY }}"
        scp -o StrictHostKeyChecking=no -v -P "${{ secrets.CDN_INGRESS_PORT }}" -r swordcraftonline_resource_pack.zip hash.sha1 "${{ secrets.CDN_INGRESS_USER }}"@"${{ secrets.CDN_INGRESS }}":"${{ secrets.CDN_PATH }}"

    - name: Get commit message
      run: echo ::set-env name=commitmsg::$(git log --format=%B -n 1)
    - name: Debug
      run: |
        echo "DEBUG: $commitmsg"
    - name: Send build notification
      run: |
        curl -X POST ${{ secrets.NOTIFY_URL }} -H "Content-Type: application/json" -d "{ \"username\": \"${{ github.actor }}\", \"content\": \"Deployed resource pack at commit \`$commitmsg\`.\"}"
        
